/* ------------ MAIN ------------ */
select {
        position: absolute;
        margin: 0;
        margin-left: 50%;
        left: -45%;
        width: 90%;
        border-radius: 0;
        padding: 5px;
        padding-left: 9px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 10pt;
        font-weight: 700;
        color: white;
        background-color: #36B3FF;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
    }
    
#headBar{
    background-color: #4738D8;
    padding: 5px 0 5px 0;
}
#logo{
    display: block;
    margin: 0 auto;
    width: 30%;
}
.headBarTxt{
    text-align: center;
    color: white;
    font-size: 1em;
}
#navBar{
    background-color: white;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navContain{
    width: 90%;
    margin: 0 auto;
}
.navBtn{
    width:30%;
    display: inline-block;
    float: left;
    margin: 1.66%;
    text-align: center;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; /* future proofing */
    background-color: #FFCE25;
    padding-top: 3px;
    -webkit-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
}
.navImg{
    width:100%;
}
.navImg:hover{
    opacity: 0.6;
}
#stretchCon{
    clear: left;
}

#landingPage{
    text-align: center;
    background-color: #7B70EE;
    padding: 2% 2%;
    color: white;
}

#metservData{
    text-align: center;
    background-color: #7B70EE;
    padding: 1%;
    color: white;
}

#othersData{
    text-align: center;
    background-color: #7B70EE;
    padding: 1%;
    color: white;
}

#enterData{
    text-align: center;
    background-color: #7B70EE;
    padding: 1%;
    color: white;
}
.oImg{
    width: 100px;
}

#footerBar{
    text-align: center;
    color: #4738D8;
    padding: 1%;
}


/* ------------ GRID FOR OTHERS DATA ------------ */
.grid {
/*  background: #DDD;*/
  max-width: 100%;
  margin: 10px auto;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 7%;
/*  height: 100px;*/
/*  background: #C09;*/
/*  border: 2px solid hsla(0, 0%, 0%, 0.5);*/
}

.grid-item--width2 { width: 200px; }
.grid-item--height2 { height: 200px; }

.grid-item:hover {
  background: #2D1EC9;
  cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #E3B000;
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.othersImg{
    width: 100%;
}

/* ------------ SLIDER ------------ */
#sliderBox{
    width: 90%;
    margin: 1% auto;
}

.rangeslider,
input[type='range'] {
  max-width: 100%;
}

.rangeslider__fill {
  cursor: pointer;
  box-shadow: 1.2px 1.2px 3.7px #4738D8, 0px 0px 1.2px #4738D8;
  background: #4738D8;
  border-radius: 25px;
  border: 0px solid #4738D8;
}

.rangeslider__handle {
  box-shadow: 1.6px 1.6px 5.3px rgba(0, 0, 0, 0.64), 0px 0px 1.6px #FFCE25;
  border: 0px solid #ff1e00;
  border-radius: 50px;
  background: #FFCE25;
  
  &:after {
    background: 0;
  }
}

/* ------------ CHECKBOX ------------ */
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    display:inline-block;
    width:30px;
    height:30px;
    vertical-align:middle;
    background-color: #7B70EE;
    cursor:pointer;
    border: 3px solid #4738D8;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; /* future proofing */
}
input[type="checkbox"] + label:hover {
    background-color: #FFCE25;
}
input[type="checkbox"]:checked + label {
    background-color: #FFCE25;
}

/* ------------ MOBILE QUERIES ----------- */
/* Larger than mobile */
@media (min-width: 400px) {
    #logo{
        width: 50%;
    }
    .headBarTxt{
        font-size: 1.5em;
    }
    #navContain{
        width: 80%;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .headBarTxt{
        font-size: 2em;
    }
    #navContain{
        width: 50%;
    }
    .grid {
      max-width: 90%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    #logo{
        width: 30%;
    }
    #navContain{
        width: 30%;
    }
    #sliderBox{
        width: 40%;
    }
    #landingPage{
        padding: 2% 20%;
    }
    .grid {
      max-width: 70%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
